.banner{
    font-size: 2.1rem;
    font-family: var(--fonte-mirza);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;

    h1{
        color: white;
        margin: 5rem auto 2rem auto;
        z-index: 2;
        text-align: center;
    }
    span{
        color: var(--destaque1);
        font-weight: 700;
    }
    div{
        margin: 0rem auto;
    }
    .circulo{
        height: 20rem;
        width: 20rem;
        border-radius: 100%;
        background-color: var(--destaque2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1;
        margin-top: 10rem;
    }
    img{
        position: relative;
        width: 20rem;
        z-index: 2;
    }
}