.banner{
    font-size: 2.1rem;
    font-family: var(--fonte-mirza);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;

    h1{
        color: white;
        margin: 5rem auto 2rem auto;
        z-index: 2;
        text-align: center;
    }
    span{
        color: var(--destaque1);
        font-weight: 700;
    }
    div{
        margin: 0rem auto;
    } 
    .circulo{
        height: 20rem;
        width: 20rem;
        border-radius: 100%;
        background-color: var(--destaque2);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: 1;
        margin-top: 10rem;
    }
    img{
        position: relative;
        width: 20rem;
        z-index: 2;
    }
}

@media screen and (max-width: 370px) {
    .banner{
        font-size: 2rem;

        .circulo{
            height: 17rem;
            width: 17rem;
        }
        img{
            width: 18rem;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .banner{
        margin: 7rem auto 9rem auto;
        font-size: 2.4rem;
        flex-direction: row;
    
        h1{
            color: white;
            margin: 7rem auto 2rem auto;
            text-align: start;
        }
        div{
            margin: 0rem auto;
        } 
        .circulo{
            height: 22rem;
            width: 22rem;
            transform: translate(-3%, -70%); 
            margin-top: 10rem;
        }
        img{
            width: 23rem;
        }
    }
}

@media screen and (min-width: 1000px) {
    .banner{
        margin: 4rem auto 9rem auto;
        font-size: 2.6rem;
        flex-direction: row;
    
        h1{
            color: white;
            margin: 9rem auto 2rem auto;
            text-align: start;
        }
        div{
            margin: 0rem auto;
        } 
        .circulo{
            height: 26rem;
            width: 26rem;
            transform: translate(-6%, -73%); 
            margin-top: 10rem;
        }
        img{
            width: 27rem;
        }
    }
}