#lista-livros{
    display: flex;
    margin: 0rem auto;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem;
}
 
.livro{
    width: 20rem;
    color: white;
    margin: 0.7rem auto;

    .borda{
        border: 3px solid white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .status-info{
            font-family: var(--fonte-poppins);
            text-transform: uppercase;
            margin-left: auto;
            padding: 1rem;
            background: var(--destaque1);
            color: black;
            font-weight: 600;
            font-size: 1.2rem;
            border-radius: 0px 15px;
        }
        h1{
            font-family: var(--fonte-mirza);
            font-size: 1.8rem;
            margin-top: -0.5rem;
        }
        img{
            height: 10rem;
            width: 10rem;
        }
        button{
            background: transparent;
            border: none;
        }
        .avaliacao-livro{
            margin-bottom: 1rem;

            img{
                height: 25px;
                width: 25px;
            }
        }
        .info{
            display: flex;
            gap: 3rem;

            h1{
                font-size: 1.3rem;
                font-family: var(--fonte-poppins);
                font-weight: 200;
                font-style: italic;
            }
        }
        .btn{
            display: flex;
            margin: 0rem auto 1rem auto;
            gap: 1rem;
            img{
                border: none;
                height: 25px;
                width: 23px;
            }
        }

    }
}

@media screen and (min-width: 1000px) {
    #lista-livros{
        margin: 1rem 3rem;
    }
}