@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&family=Patua+One&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//cores tema
$tema1-cor1 : #AAD89D;
$tema1-cor2: #CF4257;

//cores base
$bg-color : #252525;
$destaque1: $tema1-cor1;
$destaque2: $tema1-cor2;
$bg-form: rgba(255, 255, 255, 0.055);
$bg-input: #1A1717;


//fontes
$fonte-poppins : "Poppins", sans-serif;
$fonte-mirza: "Mirza", serif;
$fonte-podkova:  "Podkova", serif;
$fonte-patua: "Patua One", serif;
