@import 'variaveis';
@import 'header';
@import 'banner';
@import 'form';
@import 'nav';
@import 'livros';
@import 'footer';

@function calculate-rem($px){
    @return $px / 16 * 1rem;
}

body{
    background: var(--bg-color);
    font-family: var(--fonte-poppins);
    min-height: 100vh;
}

.hidden{
    display: none;
}

button:hover{
    transform: scale(1.08);
}

button{
    cursor: pointer;
}