@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;500;600;700&family=Patua+One&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --tema1-cor1: #AAD89D;
  --tema1-cor2: #CF4257;
  --bg-color: #252525;
  --destaque1: var(--tema1-cor1);
  --destaque2: var(--tema1-cor2);
  --bg-form: rgba(255, 255, 255, 0.055);
  --bg-input: #1A1717;
  --fonte-poppins: "Poppins", sans-serif;
  --fonte-mirza: "Mirza", serif;
  --fonte-podkova: "Podkova", serif;
  --fonte-patua: "Patua One", serif;
}

header {
  background: var(--destaque1);
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 1.5rem;
  font-family: var(--fonte-patua);
  padding: 1rem;
}
header button {
  font-family: var(--fonte-podkova);
  font-size: 1.1rem;
  font-weight: 600;
  background: var(--destaque2);
  border: none;
  border-style: none;
  padding: 0.5rem;
  border-radius: 20px;
  margin-right: 1rem;
  color: white;
}

.banner {
  font-size: 2.1rem;
  font-family: var(--fonte-mirza);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}
.banner h1 {
  color: white;
  margin: 5rem auto 2rem auto;
  z-index: 2;
  text-align: center;
}
.banner span {
  color: var(--destaque1);
  font-weight: 700;
}
.banner div {
  margin: 0rem auto;
}
.banner .circulo {
  height: 20rem;
  width: 20rem;
  border-radius: 100%;
  background-color: var(--destaque2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 10rem;
}
.banner img {
  position: relative;
  width: 20rem;
  z-index: 2;
}

@media screen and (max-width: 370px) {
  .banner {
    font-size: 2rem;
  }
  .banner .circulo {
    height: 17rem;
    width: 17rem;
  }
  .banner img {
    width: 18rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  .banner {
    margin: 7rem auto 9rem auto;
    font-size: 2.4rem;
    flex-direction: row;
  }
  .banner h1 {
    color: white;
    margin: 7rem auto 2rem auto;
    text-align: start;
  }
  .banner div {
    margin: 0rem auto;
  }
  .banner .circulo {
    height: 22rem;
    width: 22rem;
    transform: translate(-3%, -70%);
    margin-top: 10rem;
  }
  .banner img {
    width: 23rem;
  }
}
@media screen and (min-width: 1000px) {
  .banner {
    margin: 4rem auto 9rem auto;
    font-size: 2.6rem;
    flex-direction: row;
  }
  .banner h1 {
    color: white;
    margin: 9rem auto 2rem auto;
    text-align: start;
  }
  .banner div {
    margin: 0rem auto;
  }
  .banner .circulo {
    height: 26rem;
    width: 26rem;
    transform: translate(-6%, -73%);
    margin-top: 10rem;
  }
  .banner img {
    width: 27rem;
  }
}
.adicionar-livro {
  background: transparent;
  border: 4px solid var(--destaque1);
  padding: 0.5rem 2.5rem;
  color: white;
  font-family: var(--fonte-podkova);
  font-size: 1.4rem;
  border-radius: 1.4rem;
  margin: 5rem auto;
  display: flex;
}

form {
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form .fechar {
  margin-left: auto;
  box-sizing: border-box;
  background: transparent;
  border: none;
}
form .fechar img {
  height: 25px;
}
form h1 {
  font-family: var(--fonte-podkova);
  font-size: 1.3rem;
  text-align: start;
  color: white;
}
form div {
  border: 5px solid var(--destaque2);
  border-radius: 10px;
  padding: 1rem;
  background: var(--bg-form);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
form input, form select {
  height: 2.8rem;
  font-size: 1rem;
  padding: 0rem 0.5rem;
  background: var(--bg-input);
  color: white;
  border: none;
  border-radius: 10px;
  font-family: var(--fonte-poppins);
  font-weight: 300;
}
form input {
  width: 20rem;
}
form select {
  width: 21.05rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
form .centro {
  text-align: center;
  margin-top: 0.5rem;
}
form .btns-avaliacao {
  border: none;
  background: transparent;
  flex-direction: row;
  margin: 0rem auto;
  height: 1.5rem;
  align-items: center;
}
form .btns-avaliacao button {
  background: transparent;
  border: none;
}
form .btns-avaliacao button img {
  height: 2rem;
}
form .form-adicionar-livro {
  background: var(--destaque1);
  border: 4px solid var(--destaque1);
  padding: 0.5rem 2.5rem;
  color: var(--bg-color);
  font-family: var(--fonte-podkova);
  font-size: 1.5rem;
  border-radius: 1.4rem;
  margin: 0.5rem auto;
  display: flex;
  font-weight: bolder;
}

@media screen and (max-width: 400px) {
  form h1 {
    font-size: 1.2rem;
  }
  form div {
    padding: 2rem;
    gap: 1rem;
  }
  form input {
    width: 16rem;
  }
  form select {
    width: 17.05rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  form .btns-avaliacao button img {
    height: 1.8rem;
  }
  form .form-adicionar-livro {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 700px) {
  form h1 {
    font-size: 1.5rem;
  }
  form input, form select {
    font-size: 1.1rem;
    padding: 0rem 0.5rem;
    margin: 0.3rem 0rem;
  }
  form input {
    width: 26rem;
  }
  form select {
    width: 27.05rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  form .btns-avaliacao button img {
    height: 1.8rem;
  }
  form .form-adicionar-livro {
    font-size: 1.5rem;
  }
}
hr {
  border: 2px solid var(--destaque2);
  width: 15rem;
  margin: 5rem auto;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0rem auto;
}
nav button {
  border: none;
  background: transparent;
}
nav h1 {
  color: white;
  font-size: 2rem;
  font-family: var(--fonte-podkova);
  letter-spacing: 1px;
  margin: 2rem;
}
nav input {
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 0rem 2rem;
  color: white;
  border: 3px solid var(--destaque1);
  border-radius: 20px;
  font-family: var(--fonte-poppins);
  font-weight: 400;
  background-color: transparent;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
nav img {
  height: 1.7rem;
}
nav .status {
  margin: 3rem 0rem;
}
nav .status button {
  background: var(--destaque2);
  padding: 0.5rem 1rem 0.8rem 1rem;
  border-radius: 1.5rem;
  border: none;
  font-family: var(--fonte-mirza);
  font-size: 1.5rem;
  font-weight: 800;
  display: flex;
  color: white;
}

#lista-livros {
  display: flex;
  margin: 0rem auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.livro {
  width: 20rem;
  color: white;
  margin: 0rem auto;
}
.livro .borda {
  border: 3px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.livro .borda .status-info {
  font-family: var(--fonte-poppins);
  text-transform: uppercase;
  margin-left: auto;
  padding: 1rem;
  background: var(--destaque1);
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0px 15px;
}
.livro .borda h1 {
  font-family: var(--fonte-mirza);
  font-size: 1.8rem;
  margin-top: -0.5rem;
}
.livro .borda img {
  height: 10rem;
  width: 10rem;
}
.livro .borda button {
  background: transparent;
  border: none;
}
.livro .borda .avaliacao-livro {
  margin-bottom: 1rem;
}
.livro .borda .avaliacao-livro img {
  height: 25px;
  width: 25px;
}
.livro .borda .info {
  display: flex;
  gap: 3rem;
}
.livro .borda .info h1 {
  font-size: 1.3rem;
  font-family: var(--fonte-poppins);
  font-weight: 200;
  font-style: italic;
}
.livro .borda .btn {
  display: flex;
  margin: 0rem auto 1rem auto;
  gap: 1rem;
}
.livro .borda .btn img {
  border: none;
  height: 25px;
  width: 23px;
}

footer {
  background: var(--destaque1);
  height: 10rem;
  width: 100%;
  margin: 10rem 0rem 0rem 0rem !important;
}

body {
  background: var(--bg-color);
  font-family: var(--fonte-poppins);
  min-height: 100vh;
}

.hidden {
  display: none;
}

button:hover {
  transform: scale(1.08);
}

button {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */